* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  --cart: #151d38;
  --red: #f52f4d;
  --logo-color: #5fa6ba;
  --text-title: #363f5f;
  --backgound-body: #969cb3;
  --shape: #fff;

  @media (max-width: 1080px) {
    font-size: 93.75%; // 15px
  }
  @media (max-width: 720px) {
    font-size: 87.3%; // 14px
  }
  @media (max-width: 600px) {
    font-size: 75%;
  }
  -webkit-font-smoothing: antialiased;
}
body,
button,
textarea,
input {
  font-family: "Poppins";
  font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: 600;
}
button {
  cursor: pointer;
}
[disabled] {
  cursor: not-allowed;
}
body {
  max-height: 100vh;
  background: var(--backgound-body);
}
main {
  width: 100%;
  height: 85vh;
  padding: 0 4.5rem;
  padding-bottom: 1.5rem;
  display: flex;
  align-items: center;

  @media (min-width: 721) and (max-width: 800px) {
    padding: 0 2rem;
  }
  @media (max-width: 720px) {
    padding: 0 1rem;
    min-height: 100vh;
    height: auto;
  }
}
